.Botões {
    display: flex;
    justify-content: space-around;
}
.botão:hover {
    border: 5px solid black;
    border-radius: 30%;
    background-color: rgb(5, 86, 152);
}
.Cards {
    width: 40%;
    height: 30%;
}
body {
     background-color: rgb(4, 0, 35);
}
div {
    background-color: rgb(5, 86, 152);
}
.cartões {
    width: 60%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.TextosdeCard {
    font-family: monospace;
    font-size: 50px;;
}
.Cards:hover {
    width: 50%;
    border: 20px double black;
}