.botão {
    width: 20%;
    height: 35%;
    margin-top: 5%;
    margin-left: 5%;
}
.botão:hover {
    border: 5px solid black;
    border-radius: 30%;
    background-color: rgb(5, 86, 152);
}
.Botões {
    text-align: center;
}
body {
     background-color: rgb(4, 0, 35);
}
div {
    background-color: rgb(5, 86, 152);
}
.cartões {
    width: 60%;
    margin-bottom: 20px;
}
.Cards {
    width: 27%;
    height: 30%;
}
.TextosdeCard {
    font-family: monospace;
    font-size: 50px;;
}
.Cards:hover {
    width: 50%;
    border: 20px double black;
}