#TituloDeCentro {
    display: flex;
    justify-content: center;
    margin-bottom: -15%;
}
#Título {
    width: 80%;
    display: flex;
    justify-content: center;
}
.Botões {
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.botão {
    width: 90%;
    height: 80%;
 }
.botão:hover {
    border: 5px solid black;
    border-radius: 30%;
    background-color: rgb(5, 86, 152);
}
body {
     background-color: rgb(4, 0, 35);
}
hr {
    color: rgb(5, 86, 152);
    height: 40px;
    background-color: rgb(5, 86, 152);
}
.textoprincipal {
    font-family: monospace;
    font-size: 15px;
}
.textoprincipal:hover {
    font-size: 25px;
    background-color: rgb(172, 207, 235);
    
}
p {
    color: rgb(5, 86, 152);
}