
.botão {
    width: 30%;
    height: 50%;
    margin-top: 5%;
}
.botão:hover {
    border: 5px solid #000000;
    border-radius: 30%;
    border-left-width: 30px;
    background-color: bisque;
}
body {
     background-color: tomato;
}
hr {
    color: bisque;
    height: 40px;
    background-color: bisque;
}
.textoprincipal {
    font-family: monospace;
    font-size: 15px;
    justify-content: center;
}
.textoprincipal:hover {
    font-size: 25px;
    background-color: bisque;
}
