.botão {
    width: 20%;
    height: 35%;
    margin-top: 5%;
}
.botão:hover {
    border: 5px solid black;
    border-radius: 30%;
    background-color: rgb(5, 86, 152);
}
body {
     background-color: rgb(4, 0, 35);
}
div {
    background-color: rgb(5, 86, 152);
    text-align: center;
}