.botão {
    width: 30%;
    height: 50%;
    margin-top: 5%;
}
.botão:hover {
    border: 5px solid black;
    border-radius: 30%;
    border-left-width: 30px;
    background-color: rgb(5, 86, 152);
}
body {
     background-color: rgb(4, 0, 35);
}
div {
    background-color: rgb(5, 86, 152);
}
.cartões {
    margin-left: 19%;
    width: 60%;
    margin-bottom: 20px;
    text-align: center;
}
.Cards {
    width: 27%;
    height: 30%;
}
.TextosdeCard {
    font-family: monospace;
    font-size: 50px;;
}
.Cards:hover {
    width: 60%;
    border: 20px double black;
}